* { margin: 0; padding: 0;}
body { background:#fff; margin:20px;}
table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.calendar-new-table-almana {
  display: block;
    font-size: 20px;
    color: #999999;
    text-align:center;
    margin:0 auto;
}
.calendar-new-daynumber {
    display: block;
    height: 22px;
    font-size: 18px;
    color: #000;
    text-align:center;
    margin:0 auto;
}
th {
    width: 70px;
    height: 54px;
    border-top: 1px solid #c8cacc;
    padding: 0;
    text-align:center;
    margin:0 auto;
}
table th {
  width: 65px;
  height: 54px;
	background:#b5cfd2;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table td {
	background:#dcddc0 ;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
